<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for posts in posts %}
        <h1>{{ posts.nomi }}</h1>
        <img src="{{ posts.rasm }}" alt="">
        <p>{{ posts.date }}</p>
        <a href="{% url 'about' posts.slug %}">
            <h2>
                {{ posts.content }}
            </h2>
        </a>
    {% endfor %}
</body>
</html>